<p id="notice"><%= notice %></p>

<h1>Authors <%= @authors.size %></h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.first_name %></td>
        <td><%= author.last_name %></td>
        <td><%= author.description %></td>
        <td><%= link_to 'Show', [:admin, author] %></td>
        <td><%= link_to 'Edit', edit_admin_author_path(author) %></td>
        <td><%= link_to 'Destroy', [:admin, author], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Author', new_admin_author_path %>
