<p id="notice"><%= notice %></p>

<h1>Volumes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @volumes.each do |volume| %>
      <tr>
        <td><%= volume.title %></td>
        <td><%= volume.description %></td>
        <td><%= link_to 'Show', [:admin, volume] %></td>
        <td><%= link_to 'Edit', edit_admin_volume_path(volume) %></td>
        <td><%= link_to 'Destroy', [:admin, volume], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Volume', new_admin_volume_path %>
