<%= form_with(model: volume, local: true) do |form| %>
  <% if volume.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(volume.errors.count, "error") %> prohibited this volume from being saved:</h2>

      <ul>
      <% volume.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= collection_select(:volume, :author_ids, @authors, :id, :full_name, {}, {:multiple => true}) %>
  </div>

  <div class="field">
    <%= collection_select(:volume, :series_id, @series, :id, :name) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
