<p id="notice"><%= notice %></p>

<h1>Volumes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @volumes.each do |volume| %>
      <tr>
        <td><%= volume.title %></td>
        <td><%= volume.description %></td>
        <td><%= link_to 'Show', volume %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Volume', new_volume_path %>
