<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @volume.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @volume.description %>
</p>
<p>
  <strong>authors</strong>
  <% @volume.authors.each do |author| %>
    <%= author.full_name %>
  <% end %>
</p>


<% if user_signed_in? %>
  <% if @volume.users.include? current_user %>
      <%= link_to "Mark as unhave", disconnect_volume_from_user_path(@volume), method: :delete %>
    <% else %>
      <%= link_to "Mark as have", assign_volume_to_user_path(@volume), method: :post %>
    <% end %>
<% end %>

<%= link_to 'Back', volumes_path %>
