<%= form_with(model: [:admin, seire], local: true) do |form| %>
  <% if seire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seire.errors.count, "error") %> prohibited this seire from being saved:</h2>

      <ul>
      <% seire.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
