<p id="notice"><%= notice %></p>

<h1>Seires</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seires.each do |seire| %>
      <tr>
        <td><%= link_to 'Show', [:admin, seire] %></td>
        <td><%= link_to 'Edit', edit_admin_seire_path(seire) %></td>
        <td><%= link_to 'Destroy', [:admin, seire], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seire', new_admin_seire_path %>
