<p id="notice"><%= notice %></p>

<h1>My List</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @volumes.each do |volume| %>
    <tr>
      <td><%= volume.title %></td>
      <td>
        <ul>
          <li>
            <%= link_to 'Show', volume %>
          </li>
        </ul>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>