<!DOCTYPE html>
<html>
  <head>
    <title>Collection2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">Collection</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to 'Volumes', volumes_path, class: 'nav-item nav-link' %>
        <%= link_to 'Authors', authors_path, class: 'nav-item nav-link'%>
        <%= link_to 'Series', series_index_path, class: 'nav-item nav-link' %>
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Hello,<%= current_user.nickname %> </a>
            <div class="dropdown-menu">
              <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-item nav-link' %>
              <%= link_to 'My List', list_path(:id => current_user) , class: 'nav-item nav-link' %>
              <% %>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>

        <% else %>
         <%= link_to 'Log in', user_session_path, class: 'nav-item nav-link'%>
         <%= link_to 'Create account', new_user_registration_path, class: 'nav-item nav-link'  %>
        <% end %>

      </div>
    </div>
  </nav>

    <%= yield %>
  </body>
</html>
